.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--bg-gray, #f1f2f3);
}

.title {
  margin-bottom: 15px;
  color: darkslategray;
}

.formSearch {
  max-width: 600px;
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  min-width: 400px;
  margin-bottom: 10px;
}

.inputSearch {
  padding: 10px 10px 10px 25px;
  flex: 1 1 400px;
  min-height: 38px;
  border: 1px solid hsla(0, 4%, 82%, 0.197);
  border-radius: 15px;
  outline: none;
  background-color: hsla(0, 4%, 82%, 0.197);
  color: black;

  &:focus,
  &:hover {
    background-color: white;
    border: 1px solid #2684ff;
  }

  &:focus + .inputLoupe,
  &:hover + .inputLoupe {
    opacity: 1;
  }
}

.inputLoupe {
  position: absolute;
  width: 16px;
  margin-left: 5px;
  height: 16px;
  opacity: 0.5;
  border: none;
  color: rgba(0, 0, 0, 0.848);
}

.filterAndSort {
  display: flex;
  gap: 15px;
}

.select {
  padding: 0.5em;
  margin-left: 5px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  flex-grow: 1;
  outline: none;

  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  &:focus,
  &:active {
    border: 1px solid #2684ff;
  }
}
