:root {
  --bg-gray: #f1f2f3;
  --bg-light-gray: #cfd1d2;
  --light-green: #118a9d;
  --green: #0e6977;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}
