.main {
  padding: 10px;
  // background-color: var(--bg-light-gray, #cfd1d2);
  min-height: 90%;
  margin-bottom: 20px;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 1em;
  margin-bottom: 10px;
}

.countBooks,
.center {
  text-align: center;
}

.countBooks {
  margin-bottom: 15px;
}
